<html>
<head>
<title>MY CV USING CSS</title>
<style>
body{
	font-family:Arial,sans-serif;
	background-color:grey;
	margin:0;
	padding:20px;
}
.section{
	margin top:20px;
}
</style>
<body>
<div class="section">
<h2>Education</h2>
<ul>
<li><strong>sslc:</strong>Nuthan english high school</p></li>
<li><strong>puc:</strong>SIR MV pu college</p></li>
<li><strong>B.TECH:</strong>AMITY UNIVERSITY,BENGALURU</p></li>
</ul>
</div>
</body>
</html>
